/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

button {
  width: 100%;
}

footer.page-footer {
  bottom: 0;
  width: 100%;
  margin: 0;
}

.card-image{
  height: auto;
  width: 100%;
 }
#favorite-button {
  width: 100%;
  align-items: center;
}

.card-panel{
  height: 400px;
  margin: 10px;
  /*overflow: scroll;*/
}
 
 .hide {
   display: none !important;
 }

.sidenav-trigger {
  color: black;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 10px;
}
.icon-block .material-icons {
  font-size: inherit;
}

 /*label color

.input-field label {
  color: #000;
}
/* label focus color */
 .input-field input[type=text]:focus + label {
  color: #000;
} 
/* label underline focus color */
.input :focus {
  border-bottom: 1px solid #FF8000;
  box-shadow: 0 1px 0 0 #FF8000;
} 
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
} */
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
 .input-field .prefix.active {
  color: #000;
} */

.footer-copyright {
  text-align: center;
  }

#game-modal-header {
  padding: 10px 0;
  font-family: 'Bungee Shade', cursive;
  /* background-color: #FF8000; */
}

#searchBar {
  color: black;
  
  bottom: 104px;
  margin-top: 190px;
  
}

#searchbutton {
  position: absolute;
  bottom: 40px;

}

#about {
  font-family: 'Bungee Shade', cursive;
  color: #FF8000 ;
  font-size: 100px;
}

#favoritestext {
  font-family: 'Bungee Shade', cursive;
  color: #FF8000;
  font-size: 100px;
}
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

::placeholder { 
  color: black;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section #searchBar {
    position: absolute;
    top: 40%;
  }
  #index-banner .section  {
    top: 10%;
  }
  #searchBar {
    color: black;
  
  bottom: 104px;
  margin-top: 86px;
  
  }
  
}

@media only screen and (max-width : 600px) {
  #index-banner .section{
    top: 0;
  }
  
  #searchBar {
  top: 250px;
  margin: auto;
  
  
  }

}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}